:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(55 53 47);
  --inactive-color: rgb(55 53 47 / 0.16);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --inactive-color: rgb(255 255 255 / 0.13);
    color: rgb(255 255 255 / 0.81);
    background-color: #191919;
  }
}


body {
  margin: 0;
}
